@model APP.Web.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="logo-block">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="login-form">
                    <div id="slide">
                        <div class="sm-12 col-md-12">
                            <h3>Reset Your Password</h3>
                            <p>Please enter your email address.</p>
                        </div>
                        <form action="/Auth/ForgetPassword" method="POST">
                            <div class="col-sm-12 col-md-8">
                                <!--<label>Code</label>-->
                                <input type="email" class="confirm-code" name="email" placeholder="Email"/>
                                <span class="text-danger field-validation-error" data-valmsg-for="Username" data-valmsg-replace="true">@ViewData["error"]</span>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <button type="submit" class="btn-primary btn-signin">CONFIRM</button>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <a asp-controller="Auth" asp-action="Index" class="btn btn-xs btn-password">Go Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
