@model APP.Web.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="login-form">
                    <div id="slide">
                        <div class="error-message has-error col-sm-12"></div>
                        <br /><br />
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="login">
                            <div class="col-sm-12 col-md-8">
                                <input asp-for="Email" class="login-user" placeholder="Email" type="hidden" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <input asp-for="Password" type="password" class="login-password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <input asp-for="ConfirmPassword" type="password" class="login-password" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <input asp-for="Token" type="hidden" class="login-password" placeholder="Token"/>
                                <span asp-validation-for="Token" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <button type="submit" class="btn-primary btn-signin" id="login-submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Logging in">Reset Password</button>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <a asp-controller="Auth" asp-action="ForgetPassword" class="btn btn-link btn-password">Forget your password?</a>
                            </div>
                        </form>
                        <div id="confirmation-container" style="position: relative;left:300px;display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>